# Module 3 Exercises - Data Manipulation

### Exercise 1:

From the datasets folder, load in the "dupedata.csv" file as a dataframe. Drop the duplicates from the dataframe, keeping the first value (save the resulting dataframe to a new variable).

In [6]:
import pandas as pd
location = ('datasets/dupedata.csv')
df = pd.read_csv(location)

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
5,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003"
6,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335"
7,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167"
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301"
9,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379"
10,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202"
11,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013"
12,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911"
13,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801"
14,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173"
15,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372"
16,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601"
17,Libby,Guzman,female,19,1,19,100.0,"666 S. Pennington Rd., Dover, NH 03820"
18,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542"
19,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060"
20,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911"
21,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907"
22,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605"
23,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079"
24,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115"
25,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460"
26,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762"
27,Ulla,Warren,female,18,1,16,83.5,"89 Fairview Avenue, Hopkins, MN 55343"
28,Tyler,Collier,male,16,1,9,69.7,"65 Lookout Street, Marshfield, WI 54449"
29,Emma,Mccall,female,16,2,13,91.1,"854 Sussex Street, Westford, MA 01886"
...,...,...,...,...,...,...,...,...
2008,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013"
2009,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911"
2010,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801"
2011,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173"
2012,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372"
2013,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601"
2014,Libby,Guzman,female,19,1,19,100.0,"666 S. Pennington Rd., Dover, NH 03820"
2015,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542"
2016,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060"
2017,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911"
2018,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907"
2019,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605"
2020,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079"
2021,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115"
2022,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460"
2023,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762"
2024,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
2025,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2026,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
2027,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
2028,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
2029,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003"
2030,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335"
2031,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167"
2032,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301"
2033,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379"
2034,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202"
2035,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013"
2036,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911"
2037,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801"

In [45]:
#dupdrop = df.drop_duplicates([fname], keep = 'last')

dupdrop=df.drop_duplicates(['fname'])

dupdrop

,fname,lname,gender,age,exercise,hours,grade,address,fname
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747",6
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",6
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",4
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125",7
5,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003",4
6,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335",5
7,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167",7
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301",7
10,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202",6
11,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",4
12,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",5
13,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",7
14,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173",7
15,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372",5
16,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601",4
17,Libby,Guzman,female,19,1,19,100.0,"666 S. Pennington Rd., Dover, NH 03820",5
18,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542",6
19,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060",4
20,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911",7
21,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907",5
22,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605",5
23,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079",5
24,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115",4
25,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460",5
26,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762",7
27,Ulla,Warren,female,18,1,16,83.5,"89 Fairview Avenue, Hopkins, MN 55343",4
28,Tyler,Collier,male,16,1,9,69.7,"65 Lookout Street, Marshfield, WI 54449",5
29,Emma,Mccall,female,16,2,13,91.1,"854 Sussex Street, Westford, MA 01886",4
30,Isaiah,Newman,male,16,2,12,91.9,"12 Shirley Road, Everett, MA 02149",6
31,Carol,Acosta,female,16,3,13,85.0,"8459 Windfall St., Navarre, FL 32566",5
...,...,...,...,...,...,...,...,...,...
1854,Graham,Morse,male,16,5,16,99.3,"620 Pilgrim Lane, Midlothian, VA 23112",6
1859,Murphy,Michael,male,14,1,19,100.0,"88 Garden Street, Union, NJ 07083",6
1862,Keely,Moran,female,18,5,11,84.3,"116 Shipley Rd., Henderson, KY 42420",5
1864,Chaim,Sawyer,male,18,5,12,77.1,"50 S. Lees Creek Street, Chambersburg, PA 17201",5
1869,Paki,Schwartz,male,17,3,16,90.6,"7 Williams Lane, West Deptford, NJ 08096",4
1882,Isabella,Stewart,female,19,2,17,92.5,"7750 Spruce St., Alexandria, VA 22304",8
1885,Helen,Levine,female,18,4,17,94.5,"536 Brewery Drive, Ridgefield, CT 06877",5
1895,Carlos,Price,male,15,3,20,92.4,"998 Riverside St., Galloway, OH 43119",6
1896,Macy,Hawkins,female,19,5,15,84.1,"95 Market Street, North Olmsted, OH 44070",4
1901,Lucian,Myers,male,16,1,7,64.9,"3 W. Cooper Lane, Holly Springs, NC 27540",6
1916,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037",4
1920,Iris,Carr,female,18,1,14,79.2,"14 Park Dr., Wake Forest, NC 27587",4
1921,Zoe,Collins,female,16,2,15,83.7,"235 Mechanic St., Amsterdam, NY 12010",3
1924,Lionel,Dodson,male,18,4,13,84.9,"93 S. El Dorado Dr., Alliance, OH 44601",6
1926,Stewart,Kidd,male,19,1,9,80.7,"547 School Rd., Bel Air, MD 21014",7
1929,Jeanette,Allison,female,17,1,9,85.0,"188 North Campfire Drive, South Richmond Hill,...",8
1932,Lillith,Bradley,female,16,2,19,92.4,"50 Meadow Street, Hephzibah, GA 30815",7
1940,Bert,Hayden,male,14,5,14,84.9,"419 53rd Drive, Meadville, PA 16335",4
1941,Jada,Spence,female,15,5,7,74.6,"7929 Wood Court, Johnson City, TN 37601",4
1943,Hayden,Griffin,male,18,5,8,83.5,"8790 West Williams Dr., Elkridge, MD 21075",6
1946,Alisa,Randall,female,19,3,13,80.3,"96 Snake Hill Street, North Fort Myers, FL 33917",5
1962,Neve,Barnes,female,19,2,9,79.8,"547 Southampton Rd., Jackson, NJ 08527",4
1965,Chelsea,Holloway,female,19,4,12,91.4,"191 Hillside St., Phoenixville, PA 19460",7
1966,Emerald,Mckinney,female,17,3,8,78.4,"8912 Greenview Drive, Oxon Hill, MD 20745",7
1969,Colleen,Holland,female,18,1,5,70.2,"472 Charles Ave., Marlton, NJ 08053",7
1972,Stone,Miles,male,15,4,12,87.4,"77 Pilgrim Street, Camas, WA 98607",5
1982,Dean,Oneil,male,16,2,8,74.5,"653 East Saxton Lane, Framingham, MA 01701",4
1985,Kai,Woodard,female,17,5,17,100.0,"37 Addison St., Eastpointe, MI 48021",3
1987,Leah,Lawrence,female,15,5,15,100.0,"652 Pine Drive, Mountain View, CA 94043",4
1990,Joshua,Randolph,male,15,1,4,72.7,"9632 NE. Lakeshore St., Riverside, NJ 08075",6

### Exercise 2:

Using the dataframe in the previous exercise, select all the rows where students received a grade lower than 60 (they need a teacher conference on how to improve for the next test).

In [46]:
dupdrop.loc[dupdrop['grade'] < 80]

,fname,lname,gender,age,exercise,hours,grade,address,fname
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",6
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",4
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301",7
11,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",4
15,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372",5
20,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911",7
22,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605",5
28,Tyler,Collier,male,16,1,9,69.7,"65 Lookout Street, Marshfield, WI 54449",5
34,Eric,Larsen,male,14,2,11,71.9,"366 State Ave., Hendersonville, NC 28792",4
38,Rebekah,Brock,female,16,2,5,68.9,"74 Gonzales Court, Natchez, MS 39120",7
39,Cameran,Sears,female,14,4,8,75.4,"6 S. Edgewater Ave., Royersford, PA 19468",7
40,Norman,Cunningham,male,17,2,10,76.8,"8365 Liberty Street, Miami, FL 33125",6
41,Lenore,Copeland,female,14,4,8,74.0,"74 Howard Ave., Southfield, MI 48076",6
44,Dolan,Ford,male,14,3,3,64.2,"12 New St., Newark, NJ 07103",5
46,Fulton,Castaneda,male,14,3,10,71.2,"956 East Street, Hamburg, NY 14075",6
47,Kiayada,Bullock,female,18,3,11,74.9,"613 Peg Shop Court, Yuma, AZ 85365",7
48,Aurelia,Clayton,female,14,5,3,72.1,"81 High Ave., Bear, DE 19701",7
56,Tate,Dunlap,male,17,2,6,67.7,"256 High Street, Youngstown, OH 44512",4
58,Ingrid,Harvey,female,16,5,5,72.6,"399 Sussex St., Bowling Green, KY 42101",6
60,Oleg,Mooney,male,16,3,10,71.3,"89 Redwood Street, Virginia Beach, VA 23451",4
61,Piper,Lowery,female,19,2,5,61.4,"345 Greenrose Dr., Feasterville Trevose, PA 19053",5
62,Genevieve,Adkins,female,15,1,8,67.3,"8480 Aspen Street, Chesterton, IN 46304",9
65,Warren,Pope,male,18,4,5,76.3,"234 East San Pablo St., Mount Laurel, NJ 08054",6
66,Regan,Foley,female,16,2,9,77.4,"115 Gainsway St., Suitland, MD 20746",5
67,Justin,Morris,male,19,5,10,77.5,"8221 Griffin Street, Macungie, PA 18062",6
73,Lars,Oconnor,male,18,4,8,67.9,"9 Race Court, West Roxbury, MA 02132",4
75,Signe,Lopez,female,18,2,13,76.7,"5 Gonzales St., Bettendorf, IA 52722",5
79,Ariana,Pacheco,female,17,1,5,70.9,"8914 Newbridge Lane, New Castle, PA 16101",6
80,Hoyt,Lyons,male,16,5,1,71.3,"720 Linden Street, Springfield Gardens, NY 11413",4
82,Phelan,Rich,male,16,1,6,74.9,"72 Jockey Hollow Ave., Winston Salem, NC 27103",6
...,...,...,...,...,...,...,...,...,...
1589,Jaime,Mason,female,19,5,5,77.9,"454 Chestnut Street, Mason, OH 45040",5
1598,Xander,Meadows,male,19,1,7,68.6,"192 Homewood Drive, Butler, PA 16001",6
1611,Garrett,Everett,male,17,2,0,78.1,"7963 South Thorne Drive, Sterling, VA 20164",7
1619,Sasha,Fernandez,female,14,1,10,73.9,"215 Fieldstone Ave., San Pablo, CA 94806",5
1645,Marvin,Jackson,male,18,1,9,72.8,"32 Leatherwood Avenue, Evans, GA 30809",6
1646,Keiko,Simon,female,17,1,9,69.5,"149 Central Drive, Daphne, AL 36526",5
1658,Rhoda,Hill,female,17,4,7,72.8,"27 East Jockey Hollow Drive, Elyria, OH 44035",5
1668,Kane,Clay,male,18,4,8,70.6,"738 North Courtland Drive, Portsmouth, VA 23703",4
1673,Hermione,Snyder,female,18,5,12,79.9,"85 Glen Creek Dr., Daphne, AL 36526",8
1694,Ross,Hopkins,male,14,5,7,71.1,"5 Ashley Drive, Carol Stream, IL 60188",4
1712,Yuri,Joyner,female,14,1,3,60.8,"21 Gates Road, Baltimore, MD 21206",4
1722,Brynn,Owen,female,19,2,7,75.0,"675 Stonybrook St., Ann Arbor, MI 48103",5
1732,Hop,Sanford,male,15,5,4,68.3,"118 Mountainview Street, Fort Wayne, IN 46804",3
1739,Chiquita,Monroe,female,14,3,7,74.6,"9686 Mayfield St., Holland, MI 49423",8
1744,Skyler,Olson,female,19,3,7,66.3,"9366 Sherman Street, Wayne, NJ 07470",6
1759,Omar,Pittman,male,14,5,2,66.6,"281 Tower Street, Saint Johns, FL 32259",4
1806,Shay,Luna,female,17,3,8,77.7,"725 Tailwater St., Coatesville, PA 19320",4
1813,Amal,Terry,male,15,4,3,66.3,"882 Railroad Drive, Prior Lake, MN 55372",4
1816,Candice,Jarvis,female,14,4,8,68.9,"753 E. Fairview St., Hillsboro, OR 97124",7
1827,Gage,Tyler,male,19,1,14,77.7,"9106 Wild Rose Ave., Willoughby, OH 44094",4
1864,Chaim,Sawyer,male,18,5,12,77.1,"50 S. Lees Creek Street, Chambersburg, PA 17201",5
1901,Lucian,Myers,male,16,1,7,64.9,"3 W. Cooper Lane, Holly Springs, NC 27540",6
1916,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037",4
1920,Iris,Carr,female,18,1,14,79.2,"14 Park Dr., Wake Forest, NC 27587",4
1941,Jada,Spence,female,15,5,7,74.6,"7929 Wood Court, Johnson City, TN 37601",4
1962,Neve,Barnes,female,19,2,9,79.8,"547 Southampton Rd., Jackson, NJ 08527",4
1966,Emerald,Mckinney,female,17,3,8,78.4,"8912 Greenview Drive, Oxon Hill, MD 20745",7
1969,Colleen,Holland,female,18,1,5,70.2,"472 Charles Ave., Marlton, NJ 08053",7
1982,Dean,Oneil,male,16,2,8,74.5,"653 East Saxton Lane, Framingham, MA 01701",4
1990,Joshua,Randolph,male,15,1,4,72.7,"9632 NE. Lakeshore St., Riverside, NJ 08075",6

### Exercise 3:

Using the dataframe from Exercise 1, select all the rows where a student received a grade of 100 and change their grade to 103 (extra credit!).

In [53]:
df["grade"]= df["grade"].replace(100, 103) 
df

,fname,lname,gender,age,exercise,hours,grade,address,fname
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747",6
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",6
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",4
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125",7
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035",7
5,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003",4
6,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335",5
7,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167",7
8,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301",7
9,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379",4
10,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202",6
11,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",4
12,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",5
13,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",7
14,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173",7
15,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372",5
16,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601",4
17,Libby,Guzman,female,19,1,19,103.0,"666 S. Pennington Rd., Dover, NH 03820",5
18,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542",6
19,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060",4
20,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911",7
21,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907",5
22,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605",5
23,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079",5
24,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115",4
25,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460",5
26,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762",7
27,Ulla,Warren,female,18,1,16,83.5,"89 Fairview Avenue, Hopkins, MN 55343",4
28,Tyler,Collier,male,16,1,9,69.7,"65 Lookout Street, Marshfield, WI 54449",5
29,Emma,Mccall,female,16,2,13,91.1,"854 Sussex Street, Westford, MA 01886",4
...,...,...,...,...,...,...,...,...,...
2008,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",4
2009,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",5
2010,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",7
2011,Lareina,Poole,female,18,1,14,87.6,"59 Court Dr., Waxhaw, NC 28173",7
2012,Medge,Mccarthy,female,15,1,8,75.8,"609 Warren Court, Prior Lake, MN 55372",5
2013,Kibo,Gates,male,16,1,10,88.2,"24 Vernon Street, Helena, MT 59601",4
2014,Libby,Guzman,female,19,1,19,103.0,"666 S. Pennington Rd., Dover, NH 03820",5
2015,Shelly,Rosario,female,18,4,13,84.3,"571 Miles Street, Flowery Branch, GA 30542",6
2016,Lane,Tate,male,19,4,11,84.2,"4 Old Westport St., Glen Burnie, MD 21060",4
2017,Isadora,Case,female,18,3,11,79.1,"44 Ocean Lane, Appleton, WI 54911",7
2018,Maggy,Whitfield,female,15,1,15,90.5,"2 Henry Ave., Palm Bay, FL 32907",5
2019,Elton,Wagner,male,16,2,9,71.0,"98 Indian Spring St., Athens, GA 30605",5
2020,Lance,Benjamin,male,14,5,18,90.3,"55 Creek Dr., Lorton, VA 22079",5
2021,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115",4
2022,Colin,Cohen,male,14,1,10,83.8,"23 Lakewood Street, Lake Worth, FL 33460",5
2023,Solomon,Mcpherson,male,15,5,18,94.5,"7465 North Pearl St., Massapequa Park, NY 11762",7
2024,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747",6
2025,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780",6
2026,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060",4
2027,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125",7
2028,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035",7
2029,Neil,Whitley,male,16,5,16,88.7,"40 Washington Ave., Bloomfield, NJ 07003",4
2030,Nelle,Golden,female,17,1,9,80.2,"9768 Hanover Dr., Meadville, PA 16335",5
2031,Armando,Hoffman,male,17,5,18,95.1,"360 Manor Drive, Northville, MI 48167",7
2032,Illiana,Rojas,female,15,5,9,76.5,"9425 Studebaker Dr., Thibodaux, LA 70301",7
2033,Neil,Wooten,male,15,3,15,89.7,"400 Bridge Court, Soddy Daisy, TN 37379",4
2034,Daquan,Alvarez,male,16,2,13,85.2,"9028 Arnold Circle, Elizabeth, NJ 07202",6
2035,Nola,Velazquez,female,15,2,10,75.3,"72 Bradford Dr., Carlisle, PA 17013",4
2036,Quinn,Warren,female,14,4,12,80.7,"760 Smith Street, Appleton, WI 54911",5
2037,Frances,Velasquez,female,15,2,15,84.2,"57 Bridge St., Tupelo, MS 38801",7

### Exercise 4:

Load in the "travel_times.csv" file as a dataframe. Drop the "Comments" column. Then remove rows from the dataframe that have missing values and assign the resulting dataframe as a new variable.

In [73]:
location = ('datasets_travel_times.csv')
cdrop = pd.read_csv(location)
cdrop= cdrop.drop(['Comments'], axis = 1)

In [76]:
cleandrop = cdrop.dropna()

In [77]:
cleandrop

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No
30,12/7/2011,07:18,Wednesday,GSK,51.64,124.6,73.6,82.0,9.76,42.1,37.8,No
31,12/6/2011,17:24,Tuesday,Home,51.25,123.5,77.3,81.9,9.16,39.8,37.6,No
32,12/6/2011,07:24,Tuesday,GSK,51.64,122.3,69.3,74.7,9.16,44.7,41.5,No
33,12/5/2011,16:18,Monday,Home,50.18,124.0,71.0,79.5,9.16,42.4,37.9,No
42,11/24/2011,16:15,Thursday,Home,51.49,126.6,74.0,82.8,9.3,41.8,37.3,No
43,11/24/2011,07:23,Thursday,GSK,51.69,124.9,73.3,80.3,9.3,42.3,38.6,No
...,...,...,...,...,...,...,...,...,...,...,...,...
172,8/9/2011,08:15,Tuesday,GSK,49.08,134.8,60.5,67.2,8.54,48.7,43.8,No
173,8/8/2011,17:05,Monday,Home,52.35,127.5,76.9,84.2,8.54,40.9,37.3,No
174,8/8/2011,08:07,Monday,GSK,49.25,126.3,68.5,78.2,8.54,43.1,37.8,No
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes

### Exercise 6:

Using the dataframe in the previous exercise, make a new column called "Police" which is equal to all the values being "no" (they were never stopped by police for speeding while traveling).

In [82]:
cdrop['Police'] = 'no'

In [87]:
cdrop['Police']

0      no
1      no
2      no
3      no
4      no
5      no
6      no
7      no
8      no
9      no
10     no
11     no
12     no
13     no
14     no
15     no
16     no
17     no
18     no
19     no
20     no
21     no
22     no
23     no
24     no
25     no
26     no
27     no
28     no
29     no
       ..
175    no
176    no
177    no
178    no
179    no
180    no
181    no
182    no
183    no
184    no
185    no
186    no
187    no
188    no
189    no
190    no
191    no
192    no
193    no
194    no
195    no
196    no
197    no
198    no
199    no
200    no
201    no
202    no
203    no
204    no
Name: Police, Length: 205, dtype: object

### Exercise 5:

Using the dataframe from the exercise above (w/ no missing values), create bins that will categorize the AvgSpeed column as "slow" or "fast", and make a new column called "Speed" to hold those new values. Values less than 75 are "slow" and everything above is "fast".

In [83]:
cdrop

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed,Police
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,fast,no
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,fast,no
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,fast,no
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,slow,no
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,fast,no
5,1/3/2012,07:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No,fast,no
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No,fast,no
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No,fast,no
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast,no
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow,no
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow,no
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No,slow,no
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No,fast,no
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No,fast,no
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No,fast,no
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,fast,no
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No,fast,no
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No,slow,no
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No,fast,no
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No,slow,no
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No,fast,no
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No,fast,no
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No,slow,no
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No,slow,no
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No,slow,no
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No,fast,no
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No,slow,no
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No,slow,no
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No,fast,no
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No,fast,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No,slow,no
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No,slow,no
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No,slow,no
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No,slow,no
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No,slow,no
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No,slow,no
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No,fast,no
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,slow,no
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes,NaN,no
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,slow,no
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No,fast,no
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No,slow,no
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,slow,no
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No,slow,no
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,slow,no
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No,slow,no
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No,slow,no
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No,slow,no
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No,fast,no
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes,fast,no
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes,fast,no
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No,slow,no
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes,fast,no
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes,fast,no
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes,fast,no
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,slow,no
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,fast,no
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,slow,no
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,slow,no
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,slow,no

In [79]:
bins = [0,75,101]
avgspeed = ['slow','fast']
cdrop['Speed'] = pd.cut(cdrop['AvgSpeed'], bins, labels=avgspeed)
cdrop

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Speed
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,fast
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,fast
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,fast
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,slow
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,fast
5,1/3/2012,07:57,Tuesday,GSK,51.80,135.8,84.5,88.8,NaN,36.8,35.0,No,fast
6,1/2/2012,17:31,Monday,Home,51.37,123.2,82.9,87.3,-,37.2,35.3,No,fast
7,1/2/2012,07:34,Monday,GSK,49.01,128.3,77.5,85.9,-,37.9,34.3,No,fast
8,12/23/2011,08:01,Friday,GSK,52.91,130.3,80.9,88.3,8.89,39.3,36.0,No,fast
9,12/22/2011,17:19,Thursday,Home,51.17,122.3,70.6,78.1,8.89,43.5,39.3,No,slow
10,12/22/2011,08:16,Thursday,GSK,49.15,129.4,74.0,81.4,8.89,39.8,36.2,No,slow
11,12/21/2011,07:45,Wednesday,GSK,51.77,124.8,71.7,78.9,8.89,43.3,39.4,No,slow
12,12/20/2011,16:05,Tuesday,Home,51.45,130.1,75.2,82.7,8.89,41.1,37.3,No,fast
13,12/20/2011,06:04,Tuesday,GSK,49.01,119.0,77.4,82.0,8.89,38.0,35.9,No,fast
14,12/19/2011,16:18,Monday,Home,51.04,132.2,77.5,83.5,8.89,39.5,36.7,No,fast
15,12/19/2011,07:34,Monday,GSK,52.00,137.8,76.5,87.8,8.89,40.8,35.5,No,fast
16,12/16/2011,12:22,Friday,Home,51.05,128.4,86.9,90.6,9.08,35.2,33.8,No,fast
17,12/16/2011,07:21,Friday,GSK,49.04,124.6,71.1,80.2,9.08,41.4,36.7,No,slow
18,12/15/2011,16:14,Thursday,Home,51.06,126.9,80.5,84.9,9.08,38.1,36.1,No,fast
19,12/15/2011,07:19,Thursday,GSK,51.68,123.5,68.1,75.8,9.08,45.6,40.9,No,slow
20,12/14/2011,16:20,Wednesday,Home,51.04,123.4,75.1,79.4,9.08,40.8,38.6,No,fast
21,12/14/2011,07:23,Wednesday,GSK,51.67,123.5,76.6,82.7,9.08,40.5,37.5,No,fast
22,12/13/2011,17:43,Tuesday,Home,51.15,130.6,74.8,82.4,9.08,41.0,37.2,No,slow
23,12/13/2011,07:25,Tuesday,GSK,49.19,126.1,65.4,74.2,9.08,45.1,39.8,No,slow
24,12/12/2011,07:20,Monday,GSK,49.02,126.1,65.7,74.0,9.76,44.8,39.7,No,slow
25,12/9/2011,12:04,Friday,Home,51.14,126.8,87.3,90.2,9.76,35.2,34.0,No,fast
26,12/9/2011,07:22,Friday,GSK,51.69,128.4,74.0,77.3,9.76,41.9,40.1,No,slow
27,12/8/2011,17:41,Thursday,Home,51.07,125.0,74.6,81.5,9.76,41.1,37.6,No,slow
28,12/8/2011,07:14,Thursday,GSK,51.63,134.4,76.5,84.3,9.76,40.5,36.7,No,fast
29,12/7/2011,16:12,Wednesday,Home,51.10,126.5,79.9,85.6,9.76,38.4,35.8,No,fast
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,8/5/2011,17:00,Friday,Home,51.94,126.7,74.5,82.6,8.48,41.9,37.7,No,slow
176,8/5/2011,08:20,Friday,GSK,49.13,123.9,74.1,79.9,8.48,39.8,36.9,No,slow
177,8/4/2011,17:38,Thursday,Home,50.96,131.9,70.3,78.5,8.48,43.5,38.9,No,slow
178,8/4/2011,08:17,Thursday,GSK,49.12,122.4,71.5,77.3,8.48,41.2,38.2,No,slow
179,8/3/2011,17:14,Wednesday,Home,51.64,125.0,72.2,78.7,8.48,42.9,39.4,No,slow
180,8/3/2011,08:06,Wednesday,GSK,49.06,121.9,71.5,78.7,8.48,41.2,37.4,No,slow
181,8/2/2011,17:22,Tuesday,Home,51.16,124.2,76.3,83.2,8.48,40.2,36.9,No,fast
182,8/2/2011,07:38,Tuesday,GSK,53.48,124.9,68.8,78.8,8.48,46.7,40.7,No,slow
183,7/29/2011,20:31,Friday,Home,50.68,135.6,107.7,110.4,8.45,28.2,27.6,Yes,NaN
184,7/29/2011,08:22,Friday,GSK,49.07,121.1,73.2,77.7,8.45,40.2,37.9,No,slow
185,7/28/2011,17:46,Thursday,Home,51.09,128.5,76.0,84.8,8.45,40.3,36.2,No,fast
186,7/28/2011,08:11,Thursday,GSK,49.11,120.1,69.1,73.1,8.45,42.6,40.3,No,slow
187,7/27/2011,17:24,Wednesday,Home,50.98,124.9,68.3,71.9,8.45,44.8,42.6,No,slow
188,7/27/2011,08:15,Wednesday,GSK,48.82,124.5,70.4,77.8,8.45,41.6,37.6,No,slow
189,7/26/2011,17:15,Tuesday,Home,51.28,122.1,43.7,51.5,8.45,70.5,59.8,No,slow
190,7/26/2011,08:11,Tuesday,GSK,49.16,122.6,71.9,76.8,8.45,41.0,38.4,No,slow
191,7/25/2011,16:59,Monday,Home,51.05,126.6,70.4,78.8,8.45,51.1,38.9,No,slow
192,7/25/2011,08:06,Monday,GSK,48.32,121.2,63.4,78.4,8.45,45.7,37.0,No,slow
193,7/22/2011,16:47,Friday,Home,51.24,126.3,75.8,81.8,8.28,40.6,37.6,No,fast
194,7/22/2011,08:28,Friday,GSK,51.05,123.3,88.9,96.7,8.28,34.5,31.7,Yes,fast
195,7/21/2011,07:59,Thursday,GSK,48.35,129.3,81.5,89.0,8.28,35.6,32.6,Yes,fast
196,7/20/2011,17:17,Wednesday,Home,53.47,124.0,58.6,71.0,7.89,54.8,45.2,No,slow
197,7/20/2011,08:24,Wednesday,GSK,48.50,125.8,75.7,87.3,7.89,38.5,33.3,Yes,fast
198,7/19/2011,17:17,Tuesday,Home,51.16,126.7,92.2,102.6,7.89,33.3,29.9,Yes,fast
199,7/19/2011,08:11,Tuesday,GSK,50.96,124.3,82.3,96.4,7.89,37.2,31.7,Yes,fast
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,slow
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,fast
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,slow
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,slow
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,slow

In [89]:
cdrop.fillna[(0)

ValueError: fill value must be in categories

### Exercise 7:

Using the dataframe from the previous exercise, pick a method (Standard Deviation or Interquartile Range) and remove the outliers from the "FuelEconomy" column.

In [88]:
#Standard Deviation
meanFuelEco = cdrop['FuelEconomy'].mean()
stdFuelEco = cdrop['FuelEconomy'].std()
topFuelEco = meanFuelEco + stdFuelEco * 1.96
botFuelEco = meanFuelEco - stdFuelEco * 1.96

newdf = cdrop.copy()#Copy original
newdf = newdf.drop(newdf[newdf['FuelEconomy'] > topFuelEco].index)
newdf = newdf.drop(newdf[newdf['FuelEconomy'] < botFuelEco].index)

newdf.head()

TypeError: unsupported operand type(s) for +: 'int' and 'str'